*{
    color: #ff1234;
    background-color: blanchedalmond;
    text-align:justify;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-display: normal;
    font-style: normal;
    font-stretch: condensed;
}